body {
    background: green;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.contenedorCartas, .botonera {
    max-width: 90vw;
    margin: 2vh auto;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedorCartas img {
    max-width: 15vw;
    max-height: 35vh;
}

.botonera button {
    width: 200px;
    height: 50px;
    background: orange;
    cursor: pointer;
}

.botonera button:disabled {
    background: lightsalmon;
    color: slategray;
}

.oculto {
    display: none;
}

.displayStatus {
    text-align: center;
    background: white;
    color: black;
    cursor:default;
    resize: none;
}

.oscuro {
    color: white;
    background: black;
}